services:
  database:
    image: mongo:latest
    container_name: sec-mongodb
    expose: 
      - "27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  backend-api:
    build: ./backend
    container_name: sec-backend
    expose:
      - "8000"
    env_file:
      - .env
    environment: 
      - MONGO_URL=mongodb://database:27017
    depends_on:
      - database
    restart: always

  reverse-proxy:
    image: nginx:alpine
    container_name: sec-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # React build dosyalarını Nginx'e göster
      - ./frontend/dist:/usr/share/nginx/html:ro
    depends_on:
      - backend-api 
    restart: always

  frontend:
    build:
      context: ./frontend
    environment:
      - VITE_BACKEND_URL=http://localhost/api
    container_name: react-frontend
    ports: 
      - "5173:80"
    depends_on:
      - "backend-api"
    networks:
      - "app-network"
    restart: always

  redis:
    image: redis:alpine
    container_name: redis-cache
    ports:
      - "6379:6379"
    networks:
      - app-network
    restart: always
    
volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge